<div class="review">
  <h3>Avis</h3>
  <ion-icon class="text" name="chatbox-ellipses-outline" (click)="addReview()"></ion-icon>
</div>

<div class="reviews">
  <ion-grid fixed>
    <ion-row *ngFor="let review of globalService.productReviews">
      <ion-col size="3" style="text-align: center;">
        <ion-avatar>
          <h3>{{review.nom?.substring(0,1) | uppercase}}</h3>
        </ion-avatar>
          <div class="stars">
            <ion-icon slot="start" name="star" class="checked"></ion-icon>
            <ion-icon slot="start" name="star" class="checked"></ion-icon>
            <ion-icon slot="start" name="star" class="checked"></ion-icon>
            <ion-icon slot="start" name="star" class="checked"></ion-icon>
            <ion-icon slot="start" name="star"></ion-icon>
          </div>
      </ion-col>
      <ion-col size="9">
        <ion-label>
          <div style="display: flex; justify-content: space-between;">
            <h2>{{review.nom}}</h2>
            <p><small>6/04/2020 11:30</small></p>
          </div>
          <p>{{review.description}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>


</div>