<div class="review">
  <h3>Avis</h3>
  <ion-icon class="text" name="chatbox-ellipses-outline" (click)="addReview()"></ion-icon>
</div>
<div style="text-align: center;padding: 1rem;" *ngIf="reviews.length === 0">
  <ion-label>
    <p>Appuyez sur <ion-icon class="text" name="chatbox-ellipses-outline"></ion-icon> pour ajouter votre avis</p>
  </ion-label>
</div>

<div class="reviews" *ngIf="reviews.length != 0">
    <ion-grid fixed>
      <ion-row *ngFor="let review of reviews">
        <ion-col size="3" style="text-align: center;">
          <ion-avatar>
            <h3>{{review.user['first_name']?.substring(0,1) | uppercase}}</h3>
          </ion-avatar>
          <div class="stars" *ngFor='let key of [1,2,3,4,5]'>
            <ion-icon slot="start" name="star" id="{{key}}star" [ngClass]="{ 'checked': key <= review.rate}">
            </ion-icon>
          </div>
        </ion-col>
        <ion-col size="9">
          <ion-label>
            <div style="display: flex; justify-content: space-between;">
              <h2>{{review.user['first_name']}}</h2>
              <p><small>{{review.published_at}}</small></p>
            </div>
            <p>{{review.comment}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-button (click)="nextPage($event)" expand="block" fill="clear" shape="round">
        Afficher Plus
      </ion-button>
      <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="nextPage($event)">
          <ion-infinite-scroll-content loadingSpinner="circles">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll> -->
    </ion-grid>

</div>