<ion-content>
    <h3 class="title">Historique</h3>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small" *ngIf="this.data != null">
        <ion-fab-button (click)="clearStorage()">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="content">
        <ion-card class="product" *ngFor="let d of data">
            <ion-grid fixed>
                <ion-row (click)="showProduct(d._id)">
                    <ion-col size="3" class="img-product">
                        <img src="{{d.image_small_url}}" />
                        <img src="../../../assets/logo-custplace.png" *ngIf="d.image_small_url === undefined" width="50"
                            style="opacity: .3;">
                    </ion-col>
                    <ion-col size="9">
                        <ion-card-header>
                            <ion-card-title>{{d.product_name}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <div class="nutri">
                                <div class="starRating">
                                    <p>3.2</p>
                                    <div class="stars">
                                        <ion-icon slot="start" name="star" class="checked"></ion-icon>
                                        <ion-icon slot="start" name="star" class="checked"></ion-icon>
                                        <ion-icon slot="start" name="star" class="checked"></ion-icon>
                                        <ion-icon slot="start" name="star" class="checked"></ion-icon>
                                        <ion-icon slot="start" name="star"></ion-icon>
                                    </div>
                                    <p><small>(12)</small></p>
                                </div>
                                <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{d.nutrition_grades}}.svg"
                                    *ngIf='d.nutrition_grades != undefined' />

                                <img src="../../../assets/nutriscor.png" *ngIf='d.nutrition_grades === undefined'
                                    style="opacity: .3;" />

                                <img src="https://static.openfoodfacts.org/images/misc/nova-group-{{d.nova_group}}.svg"
                                    *ngIf='d.nova_group != undefined'>

                                <img src="../../../assets/nova-group-4.png" *ngIf='d.nova_group === undefined'
                                    style="opacity: .3;">
                            </div>
                        </ion-card-content>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>

</ion-content>