<ion-toolbar color="primary">

  <ion-searchbar style="padding-top: 0;padding-bottom: 0;" [(ngModel)]="myInput" placeholder="Nom du Produit" animated="true" mode ="ios" clearIcon="close-circle" (change)="getProduct($event)">
  </ion-searchbar>

</ion-toolbar>
<ion-content [fullscreen]="true">
  <div *ngIf="myInput === ''">

  </div>
  <div class="results" *ngIf="this.myInput != ''">
    <ion-card class="product" *ngFor="let prod of prods">
      <ion-grid fixed>
        <ion-row (click)="showProduct(prod._id)">
          <ion-col size="3" class="img-product">
            <img src="{{prod.image_small_url}}" />
            <img src="../../../assets/logo-custplace.png" *ngIf="prod.image_small_url === undefined" width="50"
              style="opacity: .3;">
          </ion-col>
          <ion-col size="9">
            <ion-card-header>
              <ion-card-title>{{prod.product_name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="nutri">
                <div class="starRating">
                  <p>3.2</p>
                  <div class="stars">
                    <ion-icon slot="start" name="star" class="checked"></ion-icon>
                    <ion-icon slot="start" name="star" class="checked"></ion-icon>
                    <ion-icon slot="start" name="star" class="checked"></ion-icon>
                    <ion-icon slot="start" name="star" class="checked"></ion-icon>
                    <ion-icon slot="start" name="star"></ion-icon>
                  </div>
                  <p><small>(12)</small></p>
                </div>
                <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{prod.nutrition_grades}}.svg"
                  *ngIf='prod.nutrition_grades != undefined' />

                <img src="../../../assets/nutriscor.png" *ngIf='prod.nutrition_grades === undefined'
                  style="opacity: .3;" />

                <img src="https://static.openfoodfacts.org/images/misc/nova-group-{{prod.nova_group}}.svg"
                  *ngIf='prod.nova_group != undefined'>

                <img src="../../../assets/nova-group-4.png" *ngIf='prod.nova_group === undefined' style="opacity: .3;">
              </div>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>