<ion-toolbar color="primary">

  <ion-grid fixed>
    <ion-row>
      <ion-col [size]="myInput === '' ? 12 : 10">
        <ion-input type="text" mode='md' [(ngModel)]="myInput" (ionChange)='onChangeTime($event.target.value)' placeholder="Nom du Produit"></ion-input>
      </ion-col>
      <ion-col size="2" *ngIf="myInput != ''">
        <!-- <ion-icon slot="start" name="search" style="background-color: #fff; color: #fff;"></ion-icon> -->
        <ion-button @itemState (click)="getProduct($event)" color="warning" mode="md" [hidden]="myInput === '' ">
          <ion-icon slot="start" name="search" mode='ios'></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-toolbar>
<ion-content [fullscreen]="true">
  <div>
  <!-- <div *ngIf="myInput === ''">

  </div> -->
  <div class="results">
    <div *ngIf="!skeleton">
      <ion-card class="product" *ngFor="let prod of prods">
        <ion-grid fixed>
          <ion-row (click)="showProduct(prod.codebar)">
            <ion-col size="3" class="img-product">
              <img src="{{prod.image}}" />
              <img src="../../../assets/logo-custplace.png" *ngIf="prod.image === null" width="50"
                style="opacity: .3;">
            </ion-col>
            <ion-col size="9">
              <ion-card-header>
                <ion-card-title>{{prod.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="nutri">
                  <div class="starRating">
                    <p>{{prod.average_rate}}</p>
                    <div class="stars" *ngFor='let key of [1,2,3,4,5]'>
                      <ion-icon slot="start" name="star" id="{{key}}star"
                        [ngClass]="{ 'checked': key <= prod.average_rate}">
                      </ion-icon>
                    </div>
                    <p><small>({{prod.total_reviews}})</small></p>
                  </div>
                  <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{prod.nutri_score}}.svg"
                    *ngIf='prod.nutri_score != null' />
  
                  <img src="../../../assets/nutriscor.png" *ngIf='prod.nutri_score === null' style="opacity: .3;" />
  
                  <img src="https://static.openfoodfacts.org/images/misc/nova-group-{{prod.nova_group}}.svg"
                    *ngIf='prod.nova_group != null'>
  
                  <img src="../../../assets/nova-group-4.png" *ngIf='prod.nova_group === null' style="opacity: .3;">
                </div>
              </ion-card-content>
  
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <!-- skeleton -->
    <div *ngIf="skeleton">
      <ion-card *ngFor="let item of [].constructor(5)">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <!-- <ion-list></ion-list> -->

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

    <!-- <ion-button (click)="nextPage($event)" expand="block" fill="clear" shape="round">
      Afficher Plus
    </ion-button> -->
  </div>
</ion-content>