<ion-content>
    <h3 class="title">Favoris</h3>
    <ion-card class="product" *ngFor="let favory of favoris">
        <ion-grid fixed>
            <ion-row (click)="showProduct(favory._id)">
                <ion-col size="3" class="img-product">
                    <img src="{{favory.image_small_url}}" />
                </ion-col>
                <ion-col size="7">
                    <ion-card-header>
                        <ion-card-title>{{favory.product_name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="nutri"*ngIf='favory.nutrition_grades != undefined'>
                            <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{favory.nutrition_grades}}.svg"
                                alt="nutrition" />
                            <img src="https://static.openfoodfacts.org/images/misc/nova-group-{{favory.nova_group}}.svg"
                                alt="nova" style="margin-bottom:1rem;max-width:100%">
                        </div>
                        <div class="nutri" *ngIf='favory.nutrition_grades === undefined' style="opacity: .5;">
                            <img src="../../../assets/nutriscor.png"
                              alt="nutri" />
                            <img src="../../../assets/nova-group-4.png" alt="nova"
                              style="margin-bottom:1rem;max-width:100%">
                          </div>
                    </ion-card-content>
                </ion-col>
                <ion-col size="2" style="display: flex; justify-content: center; align-items: center;">
                    <ion-icon (click)="removeProduct(favory._id)" name="trash"
                        style="color: #fff; background-color: var(--ion-color-danger); padding: 3px; border-radius: 5px; margin: 0 .3rem">
                    </ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>