<ion-content>
  <div class="home" *ngIf="this.globalService.codebar === ''" (click)='searchCodebar()'>
    <div>
      <ion-icon name="barcode-outline"></ion-icon>
      <p>Appuyez ici et scanner le codebar de Votre produit</p>
    </div>
  </div>
  
  <div *ngIf="this.globalService.codebar != ''">
    <div *ngIf="!skeleton">
      <ion-card class="product">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3" class="imgProduct">
              <img src="{{image}}" />
              <img src="../../../assets/logo-custplace.png" *ngIf="image === 'https://degrassi-crown-08212.herokuapp.com/images/products'" width="50"
                style="opacity: .3;">
            </ion-col>
            <ion-col size="9">
              <div style="float: right;z-index: 10; position: relative;">
                <ion-icon (click)="addFavoris()" name="heart" size="small"
                  [ngStyle]="{ 'color': inFavoris === true ? danger : medium }"></ion-icon>
              </div>
              <ion-card-header>
                <ion-card-title>{{data.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
  
                <div class="nutri">
                  <div class="starRating">
                    <p>{{data.average_rate}}</p>
                    <div class="stars" *ngFor='let key of [1,2,3,4,5]'>
                      <ion-icon slot="start" name="star" id="{{key}}star"
                        [ngClass]="{ 'checked': key <= data.average_rate}">
                      </ion-icon>
                    </div>
                    <p><small>({{data.total_reviews}})</small></p>
                  </div>
                  <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{data.nutri_score}}.svg"
                    *ngIf='data.nutri_score != ""' />
  
                  <img src="../../../assets/nutriscor.png" *ngIf='data.nutri_score === ""'
                    style="opacity: .3;" />
  
                  <img src="https://static.openfoodfacts.org/images/misc/nova-group-{{data.nova_group}}.svg"
                    *ngIf='data.nova_group != ""'>
  
                  <img src="../../../assets/nova-group-4.png" *ngIf='data.nova_group === ""' style="opacity: .3;">
                </div>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
     <!-- skeleton -->
     <div *ngIf="skeleton">
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <app-reviews [id]="globalService.codebar"></app-reviews>
  </div>


</ion-content>