ion-content ion-toolbar {
  --background: translucent;
}
ion-content {
  --overflow: hidden;
}

.product { 
  text-align: left;
  width: 80%;
  margin: 1rem auto;
  // padding: 1rem;
  // height: 250px;
  
  img {
    height: 6rem;
    object-fit: contain;
  }

  .imgProduct{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-card-header{
    padding: 1rem;
    z-index: 0;
  }

  ion-card-title {
    color: var(--ion-color-primary);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Quicksand';
  }

  ion-card-content {
    padding: 0;
  }

  .starRating {
    padding: 0 1rem;
    p {
      font-size: 14px;
      padding: 0;
      margin-right: .5rem;
      display: inline;
      font-weight: 600;
      color: #000;

      small {
      margin-left: .5rem;
      font-weight: 400 !important;
      }
    }

    .stars {
      display: inline-block;
      color: var(--ion-color-medium);
      .checked{
        color: var(--ion-color-warning);
      }
    }
  }

  .nutri {
    
    img {
      height: 35px;
      margin: 1rem;
    }
  }
}