<ion-content>
  <ion-card class="product">
    <img src="{{prod.image_small_url}}" />
    <ion-card-header>
      <ion-card-title>{{prod.product_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="starRating">
        <p>3.2</p>
        <div class="stars">
          <ion-icon slot="start" name="star" class="checked"></ion-icon>
          <ion-icon slot="start" name="star" class="checked"></ion-icon>
          <ion-icon slot="start" name="star" class="checked"></ion-icon>
          <ion-icon slot="start" name="star" class="checked"></ion-icon>
          <ion-icon slot="start" name="star"></ion-icon>
        </div>
        <p>(12)</p>
      </div>
      <div class="nutri">
        <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{prod.nutrition_grades}}.svg" />
        <img src="https://static.openfoodfacts.org/images/misc/nova-group-{{prod.nova_group}}.svg" alt="nova"
          style="margin-bottom:1rem;max-width:100%">
      </div>
    </ion-card-content>
  </ion-card>

  
  <app-reviews></app-reviews>
  
</ion-content>